<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>EduhCommerce</vendor>
  <vendor_url>https://eduhcommerce.com.br</vendor_url>
  <action id="com.eduhcommerce.PrintArchive.configure-cups">
    <description>Configure global CUPS settings</description>
    <description xml:lang="pt-BR">Configurar opções globais do CUPS</description>
    <message>Administrator authentication is required to change global CUPS settings.</message>
    <message xml:lang="pt-BR">É necessária autenticação de administrador para alterar opções globais do CUPS.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/print-archive/apply-settings</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
